<!-- Footer -->
<footer>
  <!-- Footer Links -->
  <div class="container" id="footer">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        <!-- Links -->
        <h5 class="mt-3 mb-4">INFORMACIÓN DE NUESTRA TIENDA</h5>
        <ul class="list-unstyled">
          <li><a href="#!">Políticas de cambio y garantías</a></li>
          <li><a href="#!">Términos y condiciones</a></li>
          <li><a href="#!">Políticas de privacidad</a></li>
          <li><a href="#!">Políticas de envió</a></li> 
          <li><a href="#!">SIC - Protección al consumidor</a></li> 
        </ul>
      </div>
      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        <!-- Links -->
        <h5 class="mt-3 mb-4">CONTÁCTANOS</h5>
        <ul class="list-unstyled">
          <li><a href="#!">Teléfono: (+574) 477 4082</a></li>
          <li><a href="#!">Whatsapp: (+57) 311 453 4912</a></li>
          <li><a href="#!">Correo: lixibitacorasgmail.com</a></li>
        </ul>
      </div>
      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        <!-- Links -->
        <h5 class="mt-3 mb-4">Siguenos en:</h5>
        <ul class="list-unstyled">
          <li><a href="#!">Link 1</a></li>
          <li><a href="#!">Link 1</a></li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
</footer>
<!-- Footer -->




<!-- <footer>
  <div class="container">
    <div class="row"></div>
    <div id="infomacion" class="col-md-3 mx-auto">
      <div class="titulo_info">
        Infomación
      </div> 
      <div class="links">Políticas de cambio y garantías</div>
      <div class="links">Términos y condiciones</div>
      <div class="links">Políticas de privacidad</div>
      <div class="links">Políticas de envió</div>
      <div class="links">SIC - Protección al consumidor</div>
    </div>
    <div id="contactanos" class="col-md-3 mx-auto" >
      <div class="titulo_info">
        Contactanos
      </div> 
      <div class="contacto">Teléfono: (+574) 477 4082</div>
      <div class="contacto">Whatsapp: (+57) 311 453 4912</div>
      <div class="contacto">Correo: lixibitacorasgmail.com</div>
    </div>
    <div id="siguenos" class="col-md-3 mx-auto">
      <div class="titulo_info">
      </div> 
      <div class="seguir"></div>
      <div class="seguir"></div>
      
    </div>
  </div>
</footer> -->