<nav class="navbar navbar-expand-lg navbar-light bg-light" id="menu2">
  <div class="container col-12"  id="menu2">
    <div class="row col-3" id="menu2">
  <a class="navbar-brand col-12" id="logo" href="#"> <img src="/assets/images/logo_lixi-02.png"  alt="logo página" id="logolixi"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" 
  aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
<div class="row col-8" id="menu22">
  <input class="form-control mr-sm-2 col-5" id="buscador" type="search" placeholder="Search"> 
  <div class="row col-12" id="menudesplegable">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav " id="menu1">
        <li class="nav-item active">
          <a class="nav-link" id="botonesmenu" routerLink="/quienesSomos">Quiénes somos<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  id="botonesmenu" routerLink="/escogeBita">Escoge tu bitácora</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  id="botonesmenu" routerLink="/preguntasfre">Preguntas frecuentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  id="botonesmenu" routerLink="/disenabit">Diseña tu bitácora</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
</nav>
