<app-menu></app-menu>
<app-btnprincipales></app-btnprincipales>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Registrate #1
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Estamos emocionados de tenerte aquí y queremos ofrecerte la mejor experiencia posible. 
        Para aprovechar al máximo todo lo que tenemos para ofrecer, te invitamos a registrarte. 
        Al unirte, podrás acceder recibir actualizaciones personalizadas y tener un descuento adicional.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ¿Tienes una idea? #2
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Si tienes una idea o un dibujo en mente para tu bitácora, envianosla por whatssap y alguno de nuestros
        diseñadores te ayudara para poder ponerla en tu bitácora artesanal.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          ¿Quieres que la diseñemos? #3
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Contacta con nuestros diseñadores, envia tus imagenes de referencia ellos harán lo mejor para sorprenderte
        con una bitácora que convine contigo
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Envios #4
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
       Recuerda que todo toma su tiempo, nos demoramos de 4 a 5 días habiles para el envio de tu bitacora, queremos
       que todo slaga bien y sea tu bitacora soñada
      </div>
    </div>
  </div>
</div>





<app-footer></app-footer>