<app-menu></app-menu>
<app-btnprincipales></app-btnprincipales>
<div class="container">
    <div class="row">
    <div class="col-4 col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/productos/10_360.gif" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="boton">
                <button type="button" class="btn btn-dark">Comprar</button>
            </div>
          </div>
    </div>
    <div class="col-4 col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/productos/8_360.gif" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="boton">
                <button type="button" class="btn btn-dark">Comprar</button>
            </div>
          </div>
    </div>
    <div class="col-4 col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/productos/7_360.gif" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="boton">
                <button type="button" class="btn btn-dark">Comprar</button>
            </div>
          </div>
    </div>
    <div class="col-4 col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/productos/6_360.gif" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="boton">
                <button type="button" class="btn btn-dark">Comprar</button>
            </div>
          </div>
    </div>
    <div class="col-4 col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/productos/5_360.gif" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="boton">
                <button type="button" class="btn btn-dark">Comprar</button>
            </div>
          </div>
    </div>
    <div class="col-4 col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/productos/4_360.gif" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="boton">
                <button type="button" class="btn btn-dark">Comprar</button>
            </div>
          </div>
    </div>
    <div class="col-4 col-md-4 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/productos/1_360.gif" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="boton">
                <button type="button" class="btn btn-dark">Comprar</button>
            </div>
          </div>
    </div>
</div>
</div>


<app-footer></app-footer>