<app-menu></app-menu>
<app-btnprincipales></app-btnprincipales>
<div class="container">
    <div class="row">
      <div class="col col-lg-6 col-sm-12">
        <div id="Historia">
        <h1>Historia</h1>
        <p>La idea nace en el año 2019 con la ilusión de ver nuestros diseño
            e ilustraciones reflejadas en un producto y a la vez de ver la
            necesidad de las personas querer marcar la diferencia, desde
            pequeños buscamos una identidad y por ello cambiamos nuestro
            cabello, vestuario e incluso nuestras actitudes, solo y únicamente
            para diferenciarnos, y nuestro objetos materiales no terminan siendo
            algo ignorado, personalizar y hacer parte de nuestro mundo los
            objetos es parte de un trabajo de libre expresión.</p>
        </div>
      </div>
      <div class="col col-lg-6 col-sm-12">
        <img src="/assets/images/7-07.png" id="bombillo" alt="">
    </div>
    </div> 
    <div class="row" id="mivi">
    <div class="col col-lg-6 col-sm-12">
      <div id="Historia">
        <h3>MISION</h3>
        <p>Lixi es una empresa que vela por el bienestar

            de todos sus empleados y sus clientes , cree-
            mos firmemente que hacer que se sientan
            
            únicos es parte del crecimiento individual ,por
            eso tratamos de brindar la mejor atención
            posible dentro de nuestro equipo</p>
        </div>
      </div>
      <div class="col col-lg-6 col-sm-12">
        <div id="Historia">
        <h3>VISION</h3>
        <p>Como empresa buscamos marcar la diferencia
            y hacer parte del día a día de las personas ,
            queremos y buscamos que nuestros diseños y
            obras cuenten historias y ser parte de ese
            crecimiento profesional y autónomo de
            muchos creativos alrededor del mundo.</p>
        </div>
      </div>
    </div> 

    <div class="row">
        <div class="col col-lg-6 col-sm-12">
          <img src="/assets/images/7-08.png" id="bombillo" alt="">
      </div>
      <div class="col col-lg-6 col-sm-12">
        <div id="Historia">
        <h1>Nuestro equipo <br>de trabajo</h1>
        <p>"La innovación florece cuando trabajamos juntos, 
            compartimos ideas y abrazamos la creatividad.
             Sigamos siendo un equipo que impulsa el cambio 
             y encuentra soluciones únicas para nuestros desafíos."</p>
        </div>
      </div>
      </div> 
      <div class="row">
        <div class="col">
            <div>
                <h1>Haz parte de nuestro equipo</h1>
                <p>Queremos crear una cultura innovadora con un equipo conformado por personas auténticas, que
                    sepan divertirse y que presenten nuevas soluciones. Nuestro propósito es cambiar vidas y generar
                    nuevas experiencias. Nos encanta trabajar aca y estamos seguros que a ti también te encantará.
                    Unete ya!</p>
            </div>
            <div id="equipo">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Nombre</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Juan">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Apellido</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Pardo">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputAddress">Correo</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="juanp@gmail.com">
                </div>
                <div class="form-group">
                  <label for="inputAddress2">Teléfono</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="+57 23654882">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">Cargo</label>
                    <input type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputZip">Red social</label>
                    <input type="text" class="form-control" id="inputZip">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
          </div>
      </div> 



</div>

<app-footer></app-footer>
