<div class="container" id="btnprincipales">
    <div class="row">
      <div class="col">
        <button id="botonesprinci"   routerLink="/login"> <img src="/assets/images/pagina_principal-09.png" alt=""></button>
      </div>
      <div class="col">
        <button id="botonesprinci"  routerLink="/escogeBita"><img src="/assets/images/pagina_principal-10.png" alt=""></button>
      </div>
      <div class="col">
        <button id="botonesprinci"  routerLink="/escogeBita"><img src="/assets/images/pagina_principal-11.png" alt=""></button>
      </div>
    </div>
  </div>
