/* You can add global styles to this file, and also import other style files */
body{
    background-image:url("/assets/images/fondo_2.\ inicio\ copia.jpg");
    background-size: 60%;
    font-family: 'Montserrat', sans-serif;
}

