<app-menu></app-menu>
<app-btnprincipales></app-btnprincipales>
<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            ¿Qué es una bitácora artesanal?
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            Una bitácora artesanal es un cuaderno personalizado y hecho a mano, 
            utilizado para documentar pensamientos, experiencias, ideas o cualquier otro tipo de contenido de forma creativa y única.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ¿Cuáles son los materiales básicos para hacer una bitácora artesanal?
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            Los materiales básicos incluyen papel de calidad, cartulina o cartón para la cubierta, aguja e hilo para la 
            encuadernación, pegamento, y diversos elementos decorativos como cintas, sellos, y pinturas.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ¿Cómo puedo personalizar mi bitácora artesanal?
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
            Puedes personalizar tu bitácora artesanal eligiendo colores y patrones que te gusten, añadiendo imágenes,
             pegatinas o elementos tridimensionales, y experimentando con diferentes técnicas de encuadernación
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ¿Cómo elijo el tipo de papel adecuado para mi bitácora artesanal?
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
            Elige un papel que se adapte al propósito de tu bitácora. Para dibujos y acuarelas, un papel 
            más grueso puede ser ideal, mientras que para escritura normal, un papel de gramaje medio funcionará bien.
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                ¿Qué tamaño es recomendable para una bitácora artesanal?
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            Elige un tamaño que se ajuste a tus preferencias y necesidades. Los tamaños comunes incluyen 
            A5 o A6, pero puedes optar por formatos más grandes o más pequeños según tus preferencias personales.
          </div>
        </div>
      </div><div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                ¿Cómo puedo proteger las páginas de mi bitácora artesanal?
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            Puedes sellar las páginas con un spray fijador o utilizar papel de calidad que sea más resistente
             al desgaste. También puedes considerar la posibilidad de utilizar fundas protectoras o estuches.
          </div>
        </div>
      </div><div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                ¿Dónde puedo encontrar inspiración para el diseño de mi bitácora artesanal?
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            Puedes encontrar inspiración en redes sociales como Instagram o Pinterest, en tutoriales en línea, o incluso observando el trabajo de
             otros artistas y creadores de bitácoras. ¡No tengas miedo de experimentar y encontrar tu propio estilo!
          </div>
        </div>
      </div>
  </div>

  <app-footer></app-footer>